# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/intervention

web/app/mu-plugins/*/
!web/app/mu-plugins/ekf-functions
!web/app/mu-plugins/ekf-functions/*
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

web/app/webp-express
web/app/webp-express/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

#auth keys
auth.json