ul.social-wrap {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
  display: flex;

  li {
    flex: 0 0 auto;
    margin: 2px;

    a {
      position: relative;
      display: inline-block;
      color: inherit;
      font-size: 2.4rem;
      font-weight: normal;
      padding: 0.15em;
      margin: 0.15em;
      text-align: center;

      @include hoverLink();
    }
  }
}
