.front-main {
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 50vw;
  padding: $spacing-max;
  position: relative;
  background: $color-accent-darker;
  color: $color-accent-inverse;

  &__background {
    @include content-background();
  }

  &__content {
    @include content-content();

    margin: $spacing-large auto;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;

    h1 {
      width: 100%;
    }
  }

  &__logo {
    max-width: 750px;
    width: 100%;
    height: auto;
    margin: 0 auto $spacing-large;
  }
}

.front-buttons {
  text-align: center;
  width: 100%;

  .h4 {
    display: inline-block;
    margin: $spacing-small;
  }

  a.button {
    color: white;
    font-size: calc(20px + 0.3vw);
    margin: 0;
    border-color: white;
  }
}
